<ul class="items">
    {{#each notes}}
        <li class="item">

            <span>Finished: <input type="checkbox" {{#if finished}} checked {{/if}} class="checkbox-row-listener" data-id="{{this.id}}"></span>
            <div class="title">
                <div class="left half"><strong>{{this.title}}</strong>  <div class="right"><em>Todo until:</em> {{this.date}}</div></div>
                <div class="left">
                    <ul class="importance index">
                        {{#times this.rate}}
                            <li class="left importance_act"></li>
                        {{/times}}
                    </ul>
                </div>
                <div class="clear">
                    <div class="left description"><span class="txt">{{this.description}}</span><span class="left dots">...</span></div>
                    <div class="left buttonindex"><button class="btn-row-listener button" data-id="{{this.id}}">Edit</button></div>
                </div>
            </div>
            <div class="clear"></div>
        </li>
    {{/each}}
</ul>
<script>
    $('.description').on('click', function() {
        //$(this).animate({height: "100%", width: "100%"}, 500);
        $(this).toggleClass('fulltxt');
        $(this).find('.dots').toggle();
    });

</script>