<div class="form">
<form id="create">
    <div class="left formTitle">
        Title
    </div>
    <div class="left formContent">
        <input type="text" name="title" value="{{title}}" required>
    </div>
    <div class="clear"></div>
    <div class="left formTitle">
        Description
    </div>
    <div class="left formContent">
        <textarea rows="10" cols="70" id="description" name="description" required>{{description}}</textarea>
    </div>
    <div class="clear"></div>
    <div class="left formTitle">
        Importance
    </div>
    <div class="left formContent">
        <ul class="importance">
            <li class="left importance_pas"></li>
            <li class="left importance_pas"></li>
            <li class="left importance_pas"></li>
            <li class="left importance_pas"></li>
            <li class="left importance_pas"></li>
        </ul>
        <input type="hidden" name="rate" id="rate" value="{{rate}}">
    </div>
    <div class="clear"></div>
    <div class="left formTitle">
        Due date
    </div>
    <div class="left formContent"><input type="date" value="{{date}}" name="date" required></div>
    <div class="clear"></div>
    <div class="left formContent">&nbsp;{{#if id}}<a href="#delete_note/{{id}}" class="button delete">DELETE</a>{{/if}}</div>
    <div class="left formTitle"><button class="listener-cancel button">Cancel</button>&nbsp;<button class="button">Save</button></div>
    {{modus}}
</form>
</div>