<div class="buttons">
    <div class="left half"><a href="#create_note" class="button">Create new Note</a></div>
    <div class="left half"><select class="button"><option>Black White-Style</option></select></div>
</div>
<div class="clear"></div>
<div class="order listener-main-buttons-area">
    <div class="left"><button id="order_finish" data-query="date&o=ASC" data-index="0" class="button {{buttons.order_finish}}">By finish Date</button></div>
    <div class="left"><button id="order_created" data-query="createdDate&o=ASC" data-index="1" class="button {{buttons.order_created}}">By created Date</button></div>
    <div class="left"><button id="order_importance" data-query="rate&o=DESC" data-index="2" class="button {{buttons.order_importance}}">By Importance</button></div>
    <div class="left"><input type="text" id="order_search" value="{{search}}"></div>
    <div class="right"><button id="order_completed" data-query="finished&has=1" data-index="3" class="button {{buttons.order_completed}}">Show finished</button></div>
</div>
<div class="clear"></div>

<div class="clear"></div>
<div class="item">
</div>